.header {
  display: flex;
  justify-content: space-between;
  margin: 0 20px;
  background-color: aliceblue;
  padding: 20px;
  align-items: center;
}

.nav {
  width: 45%;
  display: flex;
  justify-content: space-around;
  
}

.nav a {
  text-decoration: none;
  font-size: 1.5em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(14, 127, 133);
  
}

#email, #password {
  margin-right: 10px;
}


@media (max-width: 1250px) {
  .nav{
    width: 70%;
  }
}

@media (max-width: 900px) {
  .nav {
    flex-direction: column;
  }
  .nav a {
    font-size: 1.05em;
    max-width: 85%;
  }

  .login button {
    white-space: nowrap;
  }
}