@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    height: 100vh;
    background: #0DB4FC;
    background: radial-gradient(ellipse farthest-corner at center center, #0DB4FC 0%, #000000 77%);
    
}

.custom {
    @apply scrollbar-thin scrollbar-thumb-[#6061F1] scrollbar-track-[#06577A] overflow-y-scroll  h-screen;
}